.topnav {
    overflow: hidden;
    background-color: #333;

    a {
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
    }

    a:hover {
        background-color: #ddd;
        color: black;
    }

    a.active {
        background-color: #04AA6D;
        color: white;
    }
}

.Nav-header {
    .bg-header {
        background-color: aqua;
    }




    .navbar-light {
        .navbar-brand {

            &:hover {
                color: rgb(255, 255, 255) !important;
            }
        }

        .nav-link {

            &.active {
                color: rgb(255, 0, 217) !important;
            }
        }

        .navbar-nav {
            .nav-link {
                color: rgb(0, 47, 255);

                &:hover {
                    color: #04AA6D !important;
                }

            }
        }


    }
}