.manage-user-container {

    i {
        padding-right: 7px;
    }

    .user-actions {
        .refresh {
            margin-right: 10px;
        }
    }

    .user-table {
        .edit {
            color: orange;
            cursor: pointer;
            padding-right: 10px;
        }

        .delete {
            color: red;
            cursor: pointer;
        }
    }

}

@media screen and (max-width: 768px) {
    .table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }

    table {
        width: 100%;
    }

    th,
    td {
        white-space: nowrap;
    }
}